*{outline: 1px solid red;}
section.titulo-general{
  color: #4394a3;
  font-weight: bold;
  padding:  70px 0 90px;
  background: url(../img/titulo-medicina-complementaria.jpg);
  text-decoration: underline;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
section.titulo-general i,
.titulo .titulo2 i{
  font-size: 40px;
  margin-right: 15px;
}
section.titulo-general h1,
.titulo h3{
  display: inline-block;
}
section.content{
  margin: 70px 0;
}
section.content .col-md-6{margin: 40px 0;}
  section.content .caja-imagen{
      padding: 130px 0 100px 0;
      color: #fff;
      text-shadow: 1px 1px 2px rgba(0,0,0, 0.8);
      font-weight: bolder;
  }
  section.content .terapia-ceragem{
    background: url(../img/terapia-ceragem.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 200px;
  }
  section.content .flores-bach{
    background: url(../img/flores-bach.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 200px;
  }
  section.content .terapia-anodyne{
    background: url(../img/terapia-anodyne.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 200px;
  }
  section.content .masajes-descontracturantes{
    background: url(../img/masajes-descontracturantes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 200px;
  }

  @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.snip1084 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
/*  min-width: 220px;
  max-width: 310px;
  max-height: 220px;*/
  width: 100%;
  background: #000000;
  text-align: center;
}

figure.snip1084 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

figure.snip1084 img {
  opacity: 1;
  width: 100%;
}

figure.snip1084 figcaption {
  top: 50%;
  left: 40px;
  right: 40px;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

figure.snip1084 figcaption h2 {
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  -webkit-transform: translateY(75%);
  transform: translateY(75%);
}

figure.snip1084 figcaption h2 span {
  font-weight: 800;
}

figure.snip1084 figcaption p {
  font-size: 0.9em;
  font-weight: 500;
  opacity: 0;
  margin: 0;
}

figure.snip1084:before,
figure.snip1084:after {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, -webkit-transform 0.6s, -moz-transform 0.6s, -o-transform 0.6s, transform 0.6s;
}

figure.snip1084:before {
  border-top: 1px double #fff;
  border-bottom: 1px double #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

figure.snip1084:after {
  border-right: 1px double #fff;
  border-left: 1px double #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

figure.snip1084 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.snip1084.blue {
  background: #0a212f;
}

figure.snip1084.red {
  background: #4394A3;
}

figure.snip1084.yellow {
  background: #562e0a;
}

figure.snip1084:hover img,
figure.snip1084.hover img {
  opacity: 0.2;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.snip1084:hover figcaption h2,
figure.snip1084.hover figcaption h2,
figure.snip1084:hover figcaption p,
figure.snip1084.hover figcaption p {
  opacity: 1;
  border-color: rgba(255, 255, 255, 0.5);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

figure.snip1084:hover figcaption p,
figure.snip1084.hover figcaption p {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

figure.snip1084:hover:before,
figure.snip1084.hover:before,
figure.snip1084:hover:after,
figure.snip1084.hover:after {
  opacity: 0.8;
  -webkit-transform: scale(1);
  transform: scale(1);
}